*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


/* MENU */

#menu{
    position: fixed;
    width: 100vw;
    height: 54px;
    background-color: #242424;
}

 #ul-menu{
    margin-left: 21%;
   padding-top: 1.5%;
}


a{
   color: white;
}

#ul-menu li:hover{
     border-bottom: solid 2px white;
}

/* wallpaper */

#back{
    width: 100vw;
    height: 80vh;
    background: url(img/fone.jpg) no-repeat right top fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-back{
    color: white;
}

#h1-back{
    margin-left: 41%;
}

#btn-cadastro{
    margin-left: 36%;
    padding: 13px;
    width: 200px;
    background-color: #5e5294;
    color: white;
    border: none;
    cursor: pointer;
}
#container-back{
    background-color: rgba(0,0,0,0.3);
    padding: 12.5% 24.9%;
    background-attachment: fixed;
}

/* barra */

#bar{
    display: flex;
    justify-content: center;

}

.img-bar{
    width: 5%;
    margin: 4% 10%;
}


.img-bar:hover{
    transform: scale(1,1.1);
    transition: 0.3s;
}

.desc-img{
    position: absolute;
    margin-top: 10%;
}

/* galeria */

.div_titulo{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    margin-top: 8%;
}

.h2_titulo{
    color: white;
}

.img-galeria{
    width: 200px;
    height: 150px;
}

#lista-galeria{
    margin: 5% 10%;
    padding: 3% 0;
    list-style: none;
}

figure{
    width: 200px;
    box-shadow: 0px 0px 20px black;
}

figure:hover{
    transform: translateY(-10px);
    transition: 0.4s;
    cursor: pointer;
}

 figcaption{
    background-color: white;
    color: black;
    width: 200px;
    margin-top: -5px;
    padding-top: 2%;
    padding-bottom: 2%;

}

.span-legend{
    margin-left: 3%;
}

ul li{
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 3%;
}

/* história */

.p_historia{
    width: 400px;
    text-align: justify;
}

.img-historia{
    width: 300px;
    box-shadow: 3px 0px 10px black;
}

.secHistoria{
    margin-top: 20%;
}